# Data Science Tools and Ecosystem

## Author
Garrett Greene

In this notebook, data science tools are summarized

**Objectives:**
- Data science programming languages
- Data science tools
- Arithmetic expressions

Some examples of data science programming languages include:
    1: Python
    2: R
    3: Scala
    4: Julia
    5: SQL
    6: Java
    7: Swift
    8: C/C++
    9: JavaScript

Some examples of data science libraries include:
    1: NumPy
    2: Pandas
    3: Matplotlib
    4: PyTorch
    5: SciPy
    6: ggplot
    7: SciKit Learn
    8: Keras
    9: BeautifulSoup

| Data Science Tools |
| --- |
| Jupyter Notebook |
| R Studio |
| Apache Spark |

### Below are a few examples of arithmetic expressions in Python
(2+2)
(2-1)
(4*2)
(2+2)*2/2

In [1]:
# This is an example of an executing an arithmetic expression
(3*4)+5

17

In [5]:
# This will convert minutes to hours by dividing by 60
minutes = 200
(minutes)/60

3.3333333333333335